<div class="mat-elevation-z15 round-corner">
    <input style="display:none;" type="file" #csvfileInput (change)="onFileChange($event)" accept=".csv" multiple>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h2>
                Mouse Table
            </h2>
        </div>
        <div class="col-4 text-right">
            <mat-form-field class="search">

                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button *ngIf="!editButtonenabled" class="csvbutton" mat-raised-button color="accent" (click)="editbuttonpressed()">
                <span>Edit
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </span>
            </button>
            <button *ngIf="editButtonenabled" class="csvbutton" mat-raised-button color="warn" (click)="editbuttonpressed()">
                <span>Cancel Edit
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </button>
            <button *ngIf="editConfirmbuttonEnabled" class="csvbutton" mat-raised-button style="background-color: #8BC34A;color: white;"
                (click)="editConfirmButton()">
                <span>Confirm
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="col-6 text-right">
            <div class="button-row">
                <button class="csvbutton" mat-raised-button color="primary" (click)="export_csv()">
                    <span>Export CSV
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </span>
                </button>
                <button class="csvbutton" mat-raised-button color="accent" (click)="import_csv()">
                    <span>Import CSV
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </span>
                </button>
                <button id="insertmousebutton" class="csvbutton" mat-raised-button color="warn" (click)="insertmouseview()">
                    <span>{{ insertmousechecked? insertmousebuttondisplay_closed : insertmousebuttondisplay_opened}}
                        <i *ngIf="!insertmousechecked" class="fa fa-angle-down" aria-hidden="true"></i>
                        <i *ngIf="insertmousechecked" class="fa fa-angle-up" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="row checkbox_row " style="width: 100%">
        <div class="col-4">
            <span>
                <i>General Information</i>
            </span>
        </div>
    </div>
    <div class="row checkbox_row">
        <div class="col-12">
            <ng-template ngFor let-item [ngForOf]="originalColumns">
                <mat-checkbox *ngIf="item.id !== 'select'" class="checkbox" id="{{item.display}}" (change)="checkValue($event)" [checked]="item.checked">{{item.display}}
                </mat-checkbox>
            </ng-template>
        </div>
    </div>
    <div class="row row_container">
        <div class="col-12">
            <table mat-table matSort [dataSource]="dataSource" class="table-responsive">
                <!--1. Defining the all columns that are possible to be rendered in the tableview.
                           So By using matColumnDef to set the column id.
                           Set the column header in mat-header-cell with what data to be put along the 
                           column based on given datasource.
                        2. Define the rows and given the string arrays to determine which column to be rendered
                           in the tableview. Notes: It must matches the column id.-->

                <!-- Selection columns-->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox> -->
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- GenoType Confirmation Column -->
                <ng-container matColumnDef="genotype_confirmation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>GenoType Confirmation</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.genotype_confirmation}} </td>
                </ng-container>

                <!-- Physical Column -->
                <ng-container matColumnDef="physical_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Physical ID</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse.physical_id}} </td>
                </ng-container>

                <!-- Mouse Line Column -->
                <ng-container matColumnDef="mouseline">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mouse Line</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.mouseline}} </td>
                </ng-container>

                <!-- Birth Date Column -->
                <ng-container matColumnDef="birthdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth Date</th>
                    <td mat-cell *matCellDef="let mouse">
                        {{ mouse?.birthdate.toLocaleDateString("en-sg") == "01/01/1980" ? "Not Borned Yet" : mouse?.birthdate.toLocaleDateString("en-sg")
                        }}
                    </td>
                </ng-container>

                <!-- Death Date Column -->
                <ng-container matColumnDef="deathdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Death Date</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.deathdate.toLocaleDateString("en-sg")}}</td>
                </ng-container>

                <!-- Age Column -->
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                    <td mat-cell *matCellDef="let mouse"> {{ mouse.age }} </td>
                </ng-container>

                <!-- Gender Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.gender}} </td>
                </ng-container>

                <!-- Geno Type Column -->
                <ng-container matColumnDef="genotype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Geno Type</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.genotype}} </td>
                </ng-container>

                <!-- Pheno Type Column -->
                <ng-container matColumnDef="phenotype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pheno Type</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.phenotype}} </td>
                </ng-container>

                <!-- Project Title Column -->
                <ng-container matColumnDef="projecttitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Title</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.project_title}} </td>
                </ng-container>

                <!-- Purpose Column -->
                <ng-container matColumnDef="purpose">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Purpose</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.purpose}} </td>
                </ng-container>

                <!-- Sacrificer Column -->
                <ng-container matColumnDef="sacrificer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sacrificer</th>
                    <td mat-cell *matCellDef="let mouse"> {{mouse?.sacrificer}} </td>
                </ng-container>


                <!-- PFA Liver Column -->
                <ng-container matColumnDef="pfa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>PFA</th>
                    <td mat-cell *matCellDef="let mouse">
                        <span *ngIf="mouse.pfa.liver ||
                                    mouse.pfa.liver_tumor || 
                                    mouse.pfa.small_intenstine ||
                                    mouse.pfa.small_intenstine_tumor ||
                                    mouse.pfa.skin ||
                                    mouse.pfa.skin_hair ||
                                    (mouse.pfa.other != '')">
                            <i style="color: lightgreen" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!(mouse.pfa.liver ||
                                       mouse.pfa.liver_tumor ||
                                       mouse.pfa.small_intenstine ||
                                       mouse.pfa.small_intenstine_tumor ||
                                       mouse.pfa.skin ||
                                       mouse.pfa.skin_hair ||
                                      (mouse.pfa.other != ''))">
                            <i style="color: red" class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </td>
                </ng-container>

                <!-- Freeze Down Liver Column -->
                <ng-container matColumnDef="freezedown">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FreezeDown</th>
                    <td mat-cell *matCellDef="let mouse">
                        <span *ngIf="mouse.freezedown.liver ||
                                    mouse.freezedown.liver_tumor ||
                                    (mouse.freezedown.other !== '')">
                            <i style="color: lightgreen" class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!(mouse.freezedown.liver ||
                        mouse.freezedown.liver_tumor ||
                        (mouse.freezedown.other !== ''))">
                            <i style="color: red" class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </td>
                </ng-container>
                <!-- Sacrificer Column -->
                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Detail</th>
                    <td mat-cell *matCellDef="let mouse">

                        <button *ngIf="
                                       mouse.pfa.liver ||
                                       mouse.pfa.liver_tumor ||
                                       mouse.pfa.small_intenstine ||
                                       mouse.pfa.small_intenstine_tumor ||
                                       mouse.pfa.skin ||
                                       mouse.pfa.skin_hair ||
                                      (mouse.pfa.other != '') ||
                                       mouse.freezedown.liver ||
                                       mouse.freezedown.liver_tumor ||
                                      (mouse.freezedown.other !== '')" 
                                    class="csvbutton" mat-raised-button color="accent"
                                    (click)="detail(mouse)"
                                    >
                            <span>View
                                <i class="fa fa-list" aria-hidden="true" style="color: green;"></i>
                            </span>
                        </button>
                    </td>
                </ng-container>

                <!-- Row Definition-->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="row_style" mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="selectRow(row)"></tr>
            </table>


        </div>

    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>