/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.round-corner{
    border-radius: 10px;
}

.my-panel .mat-dialog-container {
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
}