<mat-nav-list>
  <div class="row mad-list">
    <div class="col-8">
      <mat-form-field class="mat-field">
        <input matInput placeholder="New Mouse Line">
      </mat-form-field>
    </div>
    <div class="col-4 text-right">
      <button class="formbutton" mat-raised-button color="primary" (click)="open()">Add</button>
    </div>
  </div>
  <div class="row mad-list">
    <div class="col-8">
      <mat-form-field class="mat-field">
        <input matInput placeholder="New Geno Type">
      </mat-form-field>
    </div>
    <div class="col-4 text-right">
      <button class="formbutton" mat-raised-button color="accent">Add</button>
    </div>
  </div>
  <div class="row mad-list">
    <div class="col-8">
      <mat-form-field class="mat-field">
        <input matInput placeholder="New Pheno Type">
      </mat-form-field>
    </div>
    <div class="col-4 text-right">
      <button class="formbutton" mat-raised-button color="warn">Add</button>
    </div>
  </div>
</mat-nav-list>