<div class="mat-elevation-z15 round-corner">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 text-center">
            <h4>Insert New Mouse</h4>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <button class="formbutton" mat-raised-button color="accent" (click)="openBottomSheet()">
                <span>Add Category
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="col-4 offset-4 text-right">
            <button class="formbutton" mat-raised-button color="warn" (click)="closepanel()">
                <span>Close Panel
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-container">
                <!-- Physical ID -->
                <mat-form-field>
                    <input matInput required placeholder="Physical ID">
                </mat-form-field>

                <!-- Project Title -->
                <mat-form-field>
                    <mat-select required placeholder="Project Title">
                        <mat-option *ngFor="let title of projectTitles" value="{{title}}">{{title}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- Mouse Line -->
                <mat-form-field>
                    <mat-select required placeholder="Mouse Line">
                        <mat-option *ngFor="let mouseline of mouselines" value="{{mouseline}}">{{mouseline}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Group two date pickers to one row-->
                <div class="row">
                    <div class="col-6">
                        <!-- Birth Date -->
                        <mat-form-field>
                            <input id="birthdatepicker" matInput [matDatepicker]="birthDatepicker" placeholder="Birth Date" (dateChange)="dateTrigger('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #birthDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <!-- Death Date -->
                        <!-- Disabled previous date if birthDate is set-->
                        <mat-form-field>
                            <input id="deathdatepicker" matInput [min]="birthDate" [matDatepicker]="deathDatepicker" placeholder="Death Date" (dateChange)="dateTrigger('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="deathDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #deathDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Gender -->
                <mat-form-field>
                    <mat-select required placeholder="Gender">
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="Male">Male</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <!-- Geno Type -->
                <mat-form-field>
                    <mat-select required placeholder="Geno Type">
                        <mat-option *ngFor="let genotype of genotypes" value="{{genotype}}">{{genotype}}</mat-option>
                    </mat-select>
                </mat-form-field>

                
                
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Reason Of Experiement
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="reason_textarea">
                        <textarea rows="5" matInput placeholder="Start Writing here"></textarea>
                    </mat-form-field>
                </mat-expansion-panel>
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PFA Related Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Press to view detail
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-checkbox *ngFor="let pfa_model of pfamodels" class="checkbox" [(ngModel)]="pfa_model.id">{{pfa_model.displayname}}</mat-checkbox>
                </mat-expansion-panel>
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            FreezeDown Related Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Press to view detail
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-checkbox *ngFor="let freezdown_model of freezedownmodels" class="checkbox" [(ngModel)]="freezdown_model.id">{{freezdown_model.displayname}}</mat-checkbox>
                </mat-expansion-panel>
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Choose Image
                        </mat-panel-title>
                        <mat-panel-description>
                            Press to view detail
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <image-upload></image-upload>
                </mat-expansion-panel>
                <!-- 
                    <mat-form-field>
                        <textarea matInput placeholder=""></textarea>
                    </mat-form-field> 
                -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="button-row">
                <button class="formbutton" mat-raised-button color="primary" (click)="open()">Insert</button>
                <button class="formbutton" mat-raised-button color="accent">Insert without clear</button>
                <button class="formbutton" mat-raised-button color="warn">Clear</button>
            </div>
        </div>
    </div>
</div>