<div class="mat-elevation-z15 round-corner">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 text-center">
            <h4>Insert New Mouse</h4>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <button class="formbutton" mat-raised-button color="accent" (click)="openBottomSheet()">
                <span>Add Category
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="col-4 offset-4 text-right">
            <button class="formbutton" mat-raised-button color="warn" (click)="closepanel()">
                <span>Close Panel
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-container">
                <!-- Physical ID -->
                <mat-form-field>
                    <input [(ngModel)]="physical_id_inputs" matInput placeholder="Physical ID">
                </mat-form-field>

                <!-- Group  Mouse Line and Gender Confirmation to one row-->
                <div class="row">
                    <div class="col-4">

                        <!-- Gender -->
                        <mat-form-field style="width: 100%;">
                            <mat-select [(ngModel)]="gender_select"  placeholder="Gender">
                                <mat-option value="Female">Female</mat-option>
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Unknown">Unknown</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-8">

                        <!-- Mouse Line -->
                        <mat-form-field style="width: 100%;">
                            <mat-select [(ngModel)]="mouseline_select"  placeholder="Mouse Line">
                                <mat-option *ngFor="let mouseline of mouselines" value="{{mouseline}}">{{mouseline}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <!-- Group two date pickers to one row-->
                <div class="row">
                    <div class="col-6">
                        <!-- Birth Date -->
                        <mat-form-field style="width: 100%;">
                            <input id="birthdatepicker" matInput [matDatepicker]="birthDatepicker" placeholder="Birth Date" (dateChange)="dateTrigger('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #birthDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <!-- Death Date -->
                        <!-- Disabled previous date if birthDate is set-->
                        <mat-form-field style="width: 100%;">
                            <input id="deathdatepicker" matInput [min]="birthDate" [matDatepicker]="deathDatepicker" placeholder="Death Date" (dateChange)="dateTrigger('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="deathDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #deathDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>


                <!-- Group Geno Type and Geno Type Confirmation to one row-->
                <div class="row">
                    <div class="col-5">
                        <!-- Geno Type -->
                        <mat-form-field style="width: 100%">
                            <mat-select [(ngModel)]="genotype_select"  placeholder="Geno Type">
                                <mat-option *ngFor="let genotype of genotypes" value="{{genotype}}">{{genotype}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-7">
                        <!-- Geno Type Confirmation-->
                        <mat-form-field style="width: 100%">
                            <input [(ngModel)]="genotype_confirmation" matInput placeholder="GenoType Confirmation">
                        </mat-form-field>
                    </div>
                </div>



                <!-- Pheno Type -->
                <mat-form-field>
                    <mat-select [(ngModel)]="phenotype_select"  placeholder="Pheno Type">
                        <mat-option *ngFor="let phenotype of phenotypes" value="{{phenotype}}">{{phenotype}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Group Project Title and  Sacrificer to one row-->
                <div class="row">
                    <div class="col-8">
                        <!-- Project Title -->
                        <mat-form-field style="width: 100%;">
                            <mat-select [(ngModel)]="project_title_select"  placeholder="Project Title">
                                <mat-option *ngFor="let title of projectTitles" value="{{title}}">{{title}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <!-- Sacrificer -->
                        <mat-form-field style="width: 100%;">
                            <mat-select [(ngModel)]="sacrificer_select"  placeholder="Sacrificer">
                                <mat-option *ngFor="let sacrificer of sacrificers" value="{{sacrificer}}">{{sacrificer}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>





                <!-- Purpose Of The Experiement-->
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Purpose Of The Experiement
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="reason_textarea">
                        <textarea [(ngModel)]="purpose_textarea" rows="5" matInput placeholder="Start Writing here"></textarea>
                    </mat-form-field>
                </mat-expansion-panel>


                <!-- Comments -->
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Comments
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="reason_textarea">
                        <textarea [(ngModel)]="comment_textarea" rows="5" matInput placeholder="Start Writing here"></textarea>
                    </mat-form-field>
                </mat-expansion-panel>

                <!-- PFA Related checkboxs-->
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PFA Related Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Press to view detail
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-checkbox class="checkbox" [(ngModel)]="pfa_liver_checkbox">Liver</mat-checkbox>
                    <mat-checkbox class="checkbox" [(ngModel)]="pfa_liver_tumor_checkbox">Liver With Tumor</mat-checkbox>
                    <mat-checkbox class="checkbox" [(ngModel)]="pfa_small_intenstine_checkbox">Small Intenstine</mat-checkbox>
                    <mat-checkbox class="checkbox" [(ngModel)]="pfa_small_intenstine_tumor_checkbox">Small Intenstine With Tumor</mat-checkbox>
                    <mat-checkbox class="checkbox" [(ngModel)]="pfa_skin_checkbox">Skin</mat-checkbox>
                    <mat-checkbox class="checkbox" [(ngModel)]="pfa_skin_hair_checkbox">Skin With Hair</mat-checkbox>
                    
                    <mat-checkbox class="checkbox" [(ngModel)]="pfa_other_checkbox">Others: </mat-checkbox>
                    
                    <!-- Other Type -->
                    <mat-form-field >
                        <input [disabled]="!pfa_other_checkbox" [checked]="pfa_other_checkbox" [(ngModel)]="pfa_other_string" matInput placeholder="">
                    </mat-form-field>
                </mat-expansion-panel>

                <!-- FreezeDown Related checkboxs-->
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            FreezeDown Related Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Press to view detail
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-checkbox class="checkbox" [(ngModel)]="freeze_down_liver_checkbox">Liver</mat-checkbox>
                    <mat-checkbox class="checkbox" [(ngModel)]="freeze_down_liver_tumor_checkbox">Liver With Tumor</mat-checkbox>
                    <br>
                    <mat-checkbox class="checkbox" [(ngModel)]="freeze_down_other_checkbox" [checked]="freeze_down_other_checkbox" >Others: </mat-checkbox>
                    
                    <!-- Other Type -->
                    <mat-form-field >
                        <input [disabled]="!freeze_down_other_checkbox" [(ngModel)]="freeze_down_other_string" matInput placeholder="">
                    </mat-form-field>
                </mat-expansion-panel>

                <!-- Image Uploading section -->
                <mat-expansion-panel class="reason_expanarea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Choose Image
                        </mat-panel-title>
                        <mat-panel-description>
                            Press to view detail
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <image-upload></image-upload>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="button-row">
                <button id="insert" class="formbutton" mat-raised-button color="primary" (click)="insertButtonPressed($event)">Insert</button>
                <button id="insert_wo_clear" class="formbutton" mat-raised-button color="accent" (click)="insert_wo_ButtonPressed($event)">Insert without clear</button>
                <button id="clear" class="formbutton" mat-raised-button color="warn" (click)="clearButtonPressed($event)">Clear</button>
            </div>
        </div>
    </div>
</div>